{% extends "base.html" %}
{% block title%}Create{% endblock %}
{% block content%}
<h1 class="display-6" align="center">Регистрация</h1>
<div class="row mx-auto" align="center">
    <div class="col-md-4">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <a href="{% url 'home' %}"><input type="submit" value="Сохранить"></a>
    </form>
        </div>
    </div>

{% endblock %}