{% extends "base.html" %} <!--блок наследования-->
{% block title %}{{ title_name }}{% endblock %}
{% block content %}
<div class="row">
        <div class="col-md-10 mx-auto">
            <table align="center">
                <tbody>
                <br>
                <br>
                <tr>
                    <td>
                        <a href="{% url 'recrut:create'%}">
                            <button type="button" class="btn btn-success btn-sm">Для рекрутов</button>
                        </a>
                    </td>
                    <td>
                        <a href="#">
                            <button type="button" class="btn btn-danger btn-sm">Для ситхов</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
</div>
{% endblock %}